# Implementing Naive Bayes algorithm on a Corpus

In [43]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
data_path = '/home/hp/Downloads/FML CODES!/Navie Bayes 2nd 6th exp/NB_Exp-6.csv'
data = pd.read_csv(data_path)
data.head()

                                            Document      Class
0         Upgrad is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema

In [45]:
data['Class'] = data['Class'].map({'education' : 0, 'cinema' : 1})

In [46]:
data.head()

                                            Document  Class
0         Upgrad is a great educational institution.      0
1            Educational greatness depends on ethics      0
2  A story of great ethics and educational greatness      0
3                           Sholey is a great cinema      1
4                   good movie depends on good story      1

In [54]:
X=data['Document']
y=data['Class']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
# X_train = pd.Series(data.iloc[:-1, 0])
# y_train = pd.Series(data.iloc[:-1, 1])
# X_test = pd.Series(data.iloc[-1, 0])
# y_test = pd.Series(data.iloc[-1, 1])

In [55]:
len(X_train), len(X_test), len(y_train),len(y_test)

(4, 2, 4, 2)

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words='english')
cv = cv.fit(X_train)
cv.vocabulary_

{'story': 10,
 'great': 5,
 'ethics': 3,
 'educational': 2,
 'greatness': 6,
 'good': 4,
 'movie': 8,
 'depends': 1,
 'sholey': 9,
 'cinema': 0,
 'upgrad': 11,
 'institution': 7}

In [57]:
X_train_transformed = cv.transform(X_train).toarray()

In [58]:
X_test_transformed = cv.transform(X_test).toarray()

In [59]:
X_train_transformed

array([[0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1]])

In [63]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()
mnb.fit(X_train_transformed, y_train)
y_preds_mnb = mnb.predict(X_test_transformed)

In [66]:
from sklearn.metrics import accuracy_score, classification_report, plot_confusion_matrix
training_score = mnb.score(X_train_transformed, y_train)
testing_score = accuracy_score(y_preds_mnb, y_test)

In [67]:
print(f'The training score is {training_score}')
print(f'The testing score is {testing_score}')

The training score is 1.0
The testing score is 1.0

In [69]:
print(classification_report(y_true=y_test, y_pred=y_preds_mnb))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         2

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2