In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("NB_Exp-6.csv")

In [4]:
df

                                            Document      Class
0         Upgrad is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema
5                  very good educational institution  education

In [5]:
df["Class"] = df["Class"].map({"education": 1, "cinema": 0})

In [6]:
df

                                            Document  Class
0         Upgrad is a great educational institution.      1
1            Educational greatness depends on ethics      1
2  A story of great ethics and educational greatness      1
3                           Sholey is a great cinema      0
4                   good movie depends on good story      0
5                  very good educational institution      1

In [7]:
X_train = pd.Series(df.iloc[:-1, 0])
y_train = pd.Series(df.iloc[:-1, 1])

X_test = pd.Series(df.iloc[-1, 0])
y_test = pd.Series(df.iloc[-1, 1])

In [8]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((5,), (5,), (1,), (1,))

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words="english")
cv.fit(X_train)
cv.vocabulary_

{'upgrad': 11,
 'great': 5,
 'educational': 2,
 'institution': 7,
 'greatness': 6,
 'depends': 1,
 'ethics': 3,
 'story': 10,
 'sholey': 9,
 'cinema': 0,
 'good': 4,
 'movie': 8}

In [10]:
X_train

0           Upgrad is a great educational institution.
1              Educational greatness depends on ethics
2    A story of great ethics and educational greatness
3                             Sholey is a great cinema
4                     good movie depends on good story
Name: Document, dtype: object

In [11]:
X_train_transformed = cv.transform(X_train).toarray()
X_test_transformed = cv.transform(X_test).toarray()

In [12]:
X_train_transformed

array([[0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0]])

In [13]:
X_test_transformed

array([[0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0]])

In [14]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, plot_confusion_matrix

In [15]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()
mnb.fit(X_train_transformed, y_train)
y_predMNB = mnb.predict(X_test_transformed)

acc_mnbTrain = mnb.score(X_train_transformed, y_train) * 100
acc_mnbTest = accuracy_score(y_predMNB, y_test) * 100

print("Training Accuracy: ", acc_mnbTrain)
print("Testing Accuracy: ", acc_mnbTest)

Training Accuracy:  100.0
Testing Accuracy:  100.0

In [16]:
print(classification_report(y_test, y_predMNB))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         1

    accuracy                           1.00         1
   macro avg       1.00      1.00      1.00         1
weighted avg       1.00      1.00      1.00         1